@mixin regular {
	font-family: 'Rubik', sans-serif;
	font-weight: normal;
	font-style: normal;
	// TODO: Do we really want these?
  	@include font-smoothing(on);
}

p {
	// enabling fancy ligatures when available
	font-feature-settings: "liga", "dlig";
}
