/*********************
Text Sizes
*********************/

$body-size:			16px;


/*********************
BE Colours
*********************/

$dark:				#03ab9e;
$light:				#eee;
$lighter:			#ccc;
$white:				#fafafa;
$highlight:			#ff673d;

$link-color:		$dark;
$link-hover:		$highlight;
